body{
    margin: 0;
}

#main{
    margin: auto;
    max-width: 400px;
    max-height: 800px;
    border: 1px solid #ddd;
    padding: 20px;
}

#btnSave{
    width: 100px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    background: cadetblue;
    color: #fff;
    border: 1;
}

.name{
    text-align: left;
    margin-left: 80px;
}
.number{
    text-align: left;
    margin-left: 48px;
}

table{
    border: 1px solid #ddd;
    width: 100%;
}
input{
    padding: 5px;
}

th,td{
    border: 1px solid gray;
    background-color: white;
    padding: 3px;
}
